header {
  background-color: var(--brackground-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 38px 48px;
  position: relative;
}

.logo {
  display: inline-block;
  width: 68px;
  height: 64px;
}
.navagation-menu {
  margin-top: 24px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--brackground-tertiary-color);
}

nav {
  display: none;
}

.list-links {
  list-style: none;
  display: flex;
  gap: 30px;
}

.list-links li {
  margin: 16px 0;
}
.list-links li a {
  color: var(--text-secondary-color);
  text-decoration: none;
  font-weight: var(--menu-text-weight);
  font-size: 24px;
}

@media screen and (min-width: 768px) {
  .navagation-menu {
    margin-top: 0;
  }
  .navagation-menu label {
    display: none;
  }

  .navagation-menu nav {
    display: block;
  }
  .navagation-menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  .navagation-menu ul li {
    margin: 0;
  }
}
